<!DOCTYPE html>
<html>
  <%- include('head') %>
  <body>
    <h2>Sign up for an account</h2>

    <% if (locals.errors) { %>
        <% errors.forEach(function (error) { %>
            <p class="validation-messages">
                <%= error.msg %>
            </p>
        <% }); %>
    <% }; %>

    <form method="POST" action="">
      <label for="firstname">First Name</label>
      <input name="firstname" placeholder="Your first name" value="<%= locals.user ? user.firstname : '' %>"/>

      <label for="lastname">Last Name</label>
      <input name="lastname" placeholder="Your last name" value="<%= locals.user ? user.lastname : '' %>"/>

      <p>Note: When you post a message to the Message Board, clubhouse members (approved by the site administrator) will be able to see your first and last name.</p>
      <p>Your username is only for logging in and will not be displayed anywhere.</p>

      <label for="username">Username</label>
      <input name="username" placeholder="Desired username" value="<%= locals.user ? user.username : '' %>"/>

      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Pick a password" value="<%= locals.user ? user.password : '' %>"/>

      <label for="password_confirm">Password Confirmation</label>
      <input
        type="password"
        name="password_confirm"
        placeholder="Re-enter password"
      />

      <button>Sign Up</button>
    </form>
  </body>
</html>
